.top-bg{
	border-bottom:1px solid #dddddd;
	background:#f5f5f5;
	line-height:30px;
	height:29px;
	position:relative;
}

.top,.header,.yHeader,.hd_zpp,.hd_star,.newArrival,.floor{
	width:1200px;
	margin:0 auto;
	
}

.top {
	.fl{
		:nth-of-type(1){
			color:#ff0033;
			font-weight:bold;
			padding:0 8px;
		}
		:nth-of-type(2){
			padding:0 12px;
			color:#565656;
		}
	}
}

.top {
	.fr{
		ul{
			float:left;
		}
		li{
			float:left;
			a:hover{
			color:#c70a28;
		}
		}

	}
}

.top{
	.memberzone{
		li:nth-of-type(1){
			color:#000;
			padding:0 10px;
			font-weight:bold;
		}
	}
}

.top{
	.login{
		padding:0 6px;
		a{
			color:#565656;
		}
	}
}

.top{
	.register{
		padding:0 3px;
		a{
			color:#c70a28;
		}
		
	}
}

.top{
	.cart{
		
		
		a{
			display:inline-block;
			padding:0 12px;
			line-height:12px;
			height:12px;
			border-right:1px solid #dddddd;
			color:#565656
		}
	}
}

.top{
	.help{
		a{
			color:#565656;
		}
		.online{
			padding:0 13px;
		}
		.service{
			padding:0 8px;
		}
		.siteMap{
			right:3px;
			i{
				display:inline-block;
				width:12px;
				height:10px;
				background:url(../img/icon.png)  no-repeat -32px -28px;
			}
		}
	}
}

.handuBox{
	margin:0 auto; width:1200px; position:relative; display:none; z-index:300;top:-31px;
	span{
		font-family:Arial, Helvetica, sans-serif; margin-left:3px;
	}
	a{
		color:#666666;
	}
	a:hover{
		 color:#f56b03; text-decoration:underline;
	}
	.webBox{
		margin:0 auto; width:100%; overflow:hidden; border:#e5e5e5 1px solid; padding:7px; background:#fff; font-size:12px; font-family:"宋体"; position:absolute;top: 30px;
		ul{
			li{
				width:50%; line-height:24px; float:left; 
			}
		}
	}
	.hot{
		width:15%; float:left; border-right:#e5e5e5 1px solid; margin-left:25px; height:137px;
		h1{
			font-size:16px;  color:#f56b03; line-height:35px; font-weight:bold;
		}
	}
	.Hstyle{
		 width:25%; float:left; border-right:#e5e5e5 1px solid; margin-left:25px; height:137px;
		 h1{
		 	font-size:16px;  color:#ec0736; line-height:35px; font-weight:bold;
		 }
	}
	.AMH{
		 width:15%; float:left; border-right:#e5e5e5 1px solid; margin-left:25px; height:137px;
		 h1{
		 	font-size:16px;  color:#2263d4; line-height:35px; font-weight:bold;
		 }
		 ul{
		 	li{
		 		 width:100%; line-height:24px; float:left;
		 	}
		 }
	}
	.mini{
		width:16%; float:left; border-right:#e5e5e5 1px solid; margin-left:25px; height:137px;
		h1{
			font-size:16px;  color:#5e8e3d; line-height:35px; font-weight:bold;
		}
		 ul{
		 	li{
		 		 width:100%; line-height:24px; float:left;
		 	}
		 }
	}
	.help{
		width:15%; float:left; margin-left:25px; height:137px;
		h1{
			font-size:16px;  color:#686868; line-height:35px; font-weight:bold;
		}
	}

}

/*
	头部
 */
.header{
	height:133px;
	position:relative;
}

.hdys_logo{
	position:absolute;
	top:8px;
}
.hot_search{
	position:absolute;
	top:28px;
	left:401px;
}
form{
	border:2px solid #c80a28;
	width:488px;
	height:36px;
	display:flex;
	
	input{
		line-height:34px;
		
		color:#c80a28;
		padding-left:5px;
		flex:1;
	}
	.search{
		color:#fff;
		background:#c80a28;
		display:inline-block;
		width:85px;
		height:36px;
		text-align:center;
		line-height:36px;
		font-size:16px;
	}
}

.hd_hotwords{
	position:absolute;
	top:46px;
	width:540px;
	height:18px;
	line-height:18px;
	a{
		padding:0 10px;
		border-right:1px solid #666666;
		color:#666666;
	}
	a:last-child{
		border:0;
	}
	a:hover{
		color:#ff0033;
	}
}

.wechat{
	position:absolute;
	top:16px;
	right:38px;
	width:100px;
	p{
		text-align:center;
		color:#ff0032;
		font-weight:bold;
	}
}

.pullD{
	width:191px;
	.pullDList{
		position:absolute;
		z-index:666;
		padding-bottom:2px;
		background:#e3e3e3;
		// display:none;
		li{
		position:relative;
		border-bottom:1px dotted #cccccc;
		padding:12px 13px;
			img{
				display:inline-block;
				margin: 1px 5px 0 0;
			}
			h3{
				line-height:24px;
				width:164px;
			}
			a{
				color: #555;
			    font-size: 12px;
			    margin: 0 1px;
			}
			span{
				display:inline-block;
				width:6px;
				height:9px;
				position:absolute;
				top:17px;
				right:8px;
				background:url(../img/leftjt.png) no-repeat;
			}
		}
		
	}
	.pullDTitle{
		background:#fe0032;
		text-align:center;
		line-height:33px;
		color:#fff;
	}
	
}

.yMenuIndex{
	
	position:relative;
	.yMenulist{
		width:1009px;
		overflow:hidden;
		li{
			float:left;
		    padding: 1px 16px;
		    text-align: center;
		    line-height: 33px;
		    font-weight: bold;
			a{
				color:#000;
				font-weight:bold;
				font-size:16px;
			}
			a:hover{
				color:#ec0736;
			}
			img{
				display:inline-block;
			}
		}
			li:nth-of-type(5){
				position:absolute;
				right:34px;
				margin-bottom:2px;
			}
			li:nth-of-type(4){
				position:absolute;
				right:124px;
				ul{
					display:none;
					position:absolute;
					z-index:222;
					li{
						padding: 1px 16px;
						background:#fff;
						line-height:30px;
						font-size:12px;
						color:#000;
					}
				}
			}
			li:nth-of-type(3){
				position:absolute;
				right:225px;
				ul {
					display:none;
					position:absolute;
					z-index:222;
					li{
						padding: 1px 16px;
						background:#fff;
						line-height:30px;
						font-size:12px;
						color:#000;
					}
				}

			}
		}
	}

.banner{
	width:100%;
	height:450px;
	img{
		height:100%;
		width:100%;
	}

}


// 公告
.warn{
	width:1200px; margin:0 auto; position:relative; height:120px;
	h1{
		a{
			display:inline-block;
			width:1200px;
			line-height:120px;
			text-align:center;
			color:#fb2425;
		}
	}
}

.hd_zpp{
	margin-bottom:50px;
}
.dh_zppleft{
	position:relative;
	h2{
		line-height:40px;
	}
	.fresh{
		position:absolute;
		right:50px;
		top:13px;
	}
	.divhuan{
		position:absolute;
		right:10px;
		top:13px;
	}
}
.main{

	.leftSide{
		ul{
			width: 676px;
		    border-left: #eee 1px solid;
		    border-top: #eee 1px solid;
		    li{
		    	float: left;
			    border-right: #eee 1px solid;
			    border-bottom: #eee 1px solid;
			    padding: 7px 0 0 18px;
				a{
					display:inline-block;
					width: 150px;
    				height: 65px;
				}
		    }
		}
	}
} 

.dh_zppright{
    width: 498px;
    border: #e7e7e7 1px solid;
	.con{
	    font-size: 16px;
	    font-family: "微软雅黑";
	    position: relative;
	    width: 100%;
	    margin: 0 auto;
	    height: 44px;
	    line-height:44px;
	    display: flex;
	    justify-content: space-around;
	    position: relative;
	    .tabs{
	    	width: 123px;
	    	cursor: pointer;
    		color: #000;
    		text-align: center;
	    }
	    .on{
			width: 123px;
		    color: #ff0f3f;
		    text-align:center;
		    border-bottom: #ff0f3f 2px solid;			
    	}
	}
	.flower_list{
		.flower_item{
			position:absolute;
			.one{
				width: 230px;
			    overflow: hidden;
			    margin: 15px 9px 14px 9px;
				h2{
					margin-bottom: 12px;
				    height: 174px;
				    width: 230px;
				    position: relative;
				    span{
				    	width: 100%;
					    height: 30px;
					    line-height: 30px;
					    font-size: 12px;
					    position: absolute;
					    bottom: 0;
					    left: 0;
					    color: #fff;
					    text-align: center;
					    font-weight: lighter;
					    background: #000;
					    filter: alpha(opacity=70);
					    -moz-opacity: 0.7;
					    opacity: 0.7;
					    letter-spacing: 0.5px;
				    }
				}
				ul{
					li{
						background: url(../img/sq1.png) no-repeat 0 10px;
						padding-left:11px;
						a{
							color:#333;
						}
						a:hover{
								text-decoration:underline;
							}
					}
				}
			}

			.two{
				width: 100%;
			    overflow: hidden;
			    margin: 15px 9px 14px 9px;
			    float: left;
			    h2{
			    	margin-bottom: 12px;
    				height: 174px;
			    }
			    ul{
					li{
						background: url(../img/sq1.png) no-repeat 0 10px;
						padding-left:11px;
						a{
							color:#333;
						}
						a:hover{
								text-decoration:underline;
						}
						span{
							float:right;
							margin-right: 18px;
						}

					}
				}
			}
		}
	}
}


.hd_star{
	margin-bottom:20px;
	img{
		height:316px;
	}
	h2{
		width:680px;
	}
	.video{
	width:498px;
	}
}

.newArrival{
	position:relative;
	img{
		width:230px;height:230px;
	}
	h1{
		margin-bottom:10px;height: 24px;background:url(../img/web_index.png) no-repeat 0 -51px;
		ul{
			position:absolute;left:220px;top:-12px;
			li{
				float:left;
				a{
					display:inline-block;font-weight:100;font-size:12px;height:22px;width:80px;color:#666;border-right:1px solid #ddd;text-align:center;
				}
			}
			.onb{
				a:hover{background:url(../img/tab.png) no-repeat 5px;display:inline-block;color:#fff;
				}
			}
		}
	}
	.cloth{
		li{
			float:left; margin:0 8px 5px 0;
			.price{
				width: 157px;height: 70px;margin:0 auto;
				.newPrice{ 
					display:inline-block;width:60px; height:26px;text-align:center;font-size:14px;
					i{
						font-style: normal;
						font-size:10px;
					}
				}
				.oldPrice{
						display:inline-block;text-decoration: line-through;color:#666;font-size:10px;
				}
				.buyBtn{
					margin:0 auto;display: block;width:76px;height:16px;line-height:16px;text-align:center;border:1px solid #333;
				}
			}
		}
	}

}

.floor {
	padding-top:10px;
	h1{ 
		height:20px;background:url(../img/web_index.png) no-repeat 0 -78px;position:relative;
		.keywords{
			position:absolute; right:0;top:-12px;
			li{
				float:left;
				a{
					padding: 0 10px;
					font-size:12px;
					color:#000;
					font-weight:normal;
				}
				.active{color:#E53333;}
			}
		}
	}
	.nav_bar{
	    width: 190px;float: left;margin-right: 10px;background: #fafafa;
	    .s_img{
		    position: relative; width: 190px;height: 253px;
		    .info{
			    background: rgba(132,212,189,0.9); 
		}
		.s_cate{
			width: 100%;margin: 8px 0px; float: left; height: auto; font-family: '宋体'; color: #333;font-weight: bold;
			a{
				 font-size: 12px;padding: 8px 14px 4px 0px;display: inline-block;color:#565656;
			}
		}
	}
	.hstyle_boxs{
		.hstyle_box{
			float:left;width: 223px; margin: 5px 21px 5px 0;
			.price{
				width: 157px;height: 70px;margin:0 auto;
				.newPrice{ 
					display:inline-block;width:60px; height:26px;text-align:center;font-size:14px;
					i{
						font-style: normal;
						font-size:10px;
					}
				}
				.oldPrice{
						display:inline-block;text-decoration: line-through;color:#666;font-size:10px;
				}
				.buyBtn{
					margin:0 auto;display: block;width:76px;height:16px;line-height:16px;text-align:center;border:1px solid #333;
				}
			}
		}
	}
}

#floor1{
	.info{
		width: 170px;height: 34px;padding: 0 10px;line-height: 34px;color: #fff;position: absolute;left: 0;bottom: 0;font-size: 14p;font-family: '宋体';
	}
	.fl_img{
		.site1{
			margin-right: 10px;
		}
		.site2{
			margin-bottom: 10px;
		}
	}
}