.pullDList{
	display:none;
}
.cart{
	padding:20px 0;
	width: 1200px;
	margin:0 auto;
	.cart_header{
		padding:20px 0;
		.cart_logo{
			display: inline-block;
			width:414px;
			height: 44px;
			background:url(../img/cart_img.png) no-repeat -15px -17px;
		}
		.cart_step{
			width: 700px;
			height: 31px;
			background:url(../img/cart_img.png) no-repeat;
		}
		.step1{
			background-position:-15px -89px;
			margin: 12px;
		}
	}

	.cart_title{
		height:36px;
		line-height:36px;
		background:url(../img/cartbar2.png) no-repeat;
		text-align:center;
		
		li{
			float:left;
			text-align: center;
			font-size:13px;
		}
		.product{
			width: 381px;
		}
		.sale{
			width: 132px;
		}
		.number{
			@extend .sale;
		}
		.subTotal{
			width: 122px;
		}
		.oprate{
			width: 134px;
		}
		.remark{
			width: 186px;
		}

	}
	.cartGoodsList{
		padding-left:14px 0;
		border:1px solid #ddd;
		padding-left:10px;
		h3{
			height:40px;
			line-height:55px;
			width:1186px;
			color:rgb(51,52,51);
		}
		.brand_cart{
			width: 368px;
			height: 134px;
			background: url(../img/shopping_car_bg.png) no-repeat right;
			.product_img{
				float:left;

				img{
					width: 112px;
					height: 112px;
				}
			}
			.product_infor{
				float:left;
				padding-top:34px;
				.product_name{
				
				width: 244px;
				padding-left:10px;
					a{
						color:#565656;
						font-size:14px;
					}
				}
				.product_size{

					width: 244px;
					padding-left:10px;
					padding-top:15px;
				}
			}
			
		}
		.brand_money{
			
			width: 132px;
			line-height:132px;
			background: url(../img/shopping_car_bg.png) no-repeat right;
			.oldPrice{
				text-decoration: line-through;
				color:#999;
				font-size:10px;
				position: relative;
			    top: -21px;
			    left: 36px;
			}
			.newPrice{
				font-size:14px;
			}
		}
		.brand_number{
			width: 132px;
			height: 132px;
			line-height: 132px;
			text-align: center;
			background: url(../img/shopping_car_bg.png) no-repeat right;
			.sub{
				display: inline-block;
				width: 12px;
			    height: 12px;
			    line-height: 10px;
			    text-align: center;
			    overflow: hidden;
			    cursor: pointer;
			    border: 1px solid #9A9A9A;
			    margin:0 2px;
			    cursor: pointer;
			}
			.plus{
				@extend .sub;
			}
			input{
				width: 60px;
				height: 26px;
				line-height: 26px;
				text-align: center;
				color: #333;
				border: 1px solid #DDD;
			}

		}
		.brand_sale{
			text-align: center;
			background: url(../img/shopping_car_bg.png) no-repeat right;
		    width: 122px;
		    font-size: 14px;
		    color: #bf0000;
		    line-height: 132px;
			
		}
		.brand_operate{
			background: url(../img/shopping_car_bg.png) no-repeat right;
			width: 134px;
			height: 132px;
			
			line-height: 132px;
			a{
				color:#999;

			}
			a:hover{
				text-decoration: underline;
				color:red;
			}
			.like{
				position: relative;
			    top: -21px;
			    left: 36px;
			}
		}
	}
	
	.shopping_car_bottom{
		border:1px solid #ddd;
		border-top:none;
		padding-right:10px;
		p{
			.len{
				display: inline-block;
				width:100px;
				text-align: right;
				line-height:30px;
			}
			.right{
				@extend .len;
				width: 80px;
			}
		}
	}

	.shopping_car_total{
		border:1px solid #ddd;
		border-top:none;
		padding-right:10px;
		line-height: 50px;
		p{
			.shopSum{
				display: inline-block;
				width:100px;
				text-align: right;
				line-height:30px;
			}
			.sum{
				@extend .shopSum;
				width: 80px;
				color:#bf0000;
			}
		}
	}

	.buy{
		padding-top:10px;
		a{
			font-size:14px;
			display: inline-block;

		}
		.Continue{
			width: 120px;
			height: 36px;
			text-align: center;
			line-height: 36px;
			background:#ccc;
			color:#000;
		}
		.accounting{
			width: 157px;
			height: 36px;
			line-height: 35px;
			text-align: center;
			background:red;
			color:#fff;
		}
	}
	
}