@charset "UTF-8";
.top-bg {
  border-bottom: 1px solid #dddddd;
  background: #f5f5f5;
  line-height: 30px;
  height: 29px;
  position: relative;
}

.top, .header, .yHeader, .hd_zpp, .hd_star, .newArrival, .floor {
  width: 1200px;
  margin: 0 auto;
}

.top .fl :nth-of-type(1) {
  color: #ff0033;
  font-weight: bold;
  padding: 0 8px;
}

.top .fl :nth-of-type(2) {
  padding: 0 12px;
  color: #565656;
}

.top .fr ul {
  float: left;
}

.top .fr li {
  float: left;
}

.top .fr li a:hover {
  color: #c70a28;
}

.top .memberzone li:nth-of-type(1) {
  color: #000;
  padding: 0 10px;
  font-weight: bold;
}

.top .login {
  padding: 0 6px;
}

.top .login a {
  color: #565656;
}

.top .register {
  padding: 0 3px;
}

.top .register a {
  color: #c70a28;
}

.top .cart a {
  display: inline-block;
  padding: 0 12px;
  line-height: 12px;
  height: 12px;
  border-right: 1px solid #dddddd;
  color: #565656;
}

.top .help a {
  color: #565656;
}

.top .help .online {
  padding: 0 13px;
}

.top .help .service {
  padding: 0 8px;
}

.top .help .siteMap {
  right: 3px;
}

.top .help .siteMap i {
  display: inline-block;
  width: 12px;
  height: 10px;
  background: url(../img/icon.png) no-repeat -32px -28px;
}

.handuBox {
  margin: 0 auto;
  width: 1200px;
  position: relative;
  display: none;
  z-index: 300;
  top: -31px;
}

.handuBox span {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3px;
}

.handuBox a {
  color: #666666;
}

.handuBox a:hover {
  color: #f56b03;
  text-decoration: underline;
}

.handuBox .webBox {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  border: #e5e5e5 1px solid;
  padding: 7px;
  background: #fff;
  font-size: 12px;
  font-family: "宋体";
  position: absolute;
  top: 30px;
}

.handuBox .webBox ul li {
  width: 50%;
  line-height: 24px;
  float: left;
}

.handuBox .hot {
  width: 15%;
  float: left;
  border-right: #e5e5e5 1px solid;
  margin-left: 25px;
  height: 137px;
}

.handuBox .hot h1 {
  font-size: 16px;
  color: #f56b03;
  line-height: 35px;
  font-weight: bold;
}

.handuBox .Hstyle {
  width: 25%;
  float: left;
  border-right: #e5e5e5 1px solid;
  margin-left: 25px;
  height: 137px;
}

.handuBox .Hstyle h1 {
  font-size: 16px;
  color: #ec0736;
  line-height: 35px;
  font-weight: bold;
}

.handuBox .AMH {
  width: 15%;
  float: left;
  border-right: #e5e5e5 1px solid;
  margin-left: 25px;
  height: 137px;
}

.handuBox .AMH h1 {
  font-size: 16px;
  color: #2263d4;
  line-height: 35px;
  font-weight: bold;
}

.handuBox .AMH ul li {
  width: 100%;
  line-height: 24px;
  float: left;
}

.handuBox .mini {
  width: 16%;
  float: left;
  border-right: #e5e5e5 1px solid;
  margin-left: 25px;
  height: 137px;
}

.handuBox .mini h1 {
  font-size: 16px;
  color: #5e8e3d;
  line-height: 35px;
  font-weight: bold;
}

.handuBox .mini ul li {
  width: 100%;
  line-height: 24px;
  float: left;
}

.handuBox .help {
  width: 15%;
  float: left;
  margin-left: 25px;
  height: 137px;
}

.handuBox .help h1 {
  font-size: 16px;
  color: #686868;
  line-height: 35px;
  font-weight: bold;
}

/*
	头部
 */
.header {
  height: 133px;
  position: relative;
}

.hdys_logo {
  position: absolute;
  top: 8px;
}

.hot_search {
  position: absolute;
  top: 28px;
  left: 401px;
}

form {
  border: 2px solid #c80a28;
  width: 488px;
  height: 36px;
  display: flex;
}

form input {
  line-height: 34px;
  color: #c80a28;
  padding-left: 5px;
  flex: 1;
}

form .search {
  color: #fff;
  background: #c80a28;
  display: inline-block;
  width: 85px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
}

.hd_hotwords {
  position: absolute;
  top: 46px;
  width: 540px;
  height: 18px;
  line-height: 18px;
}

.hd_hotwords a {
  padding: 0 10px;
  border-right: 1px solid #666666;
  color: #666666;
}

.hd_hotwords a:last-child {
  border: 0;
}

.hd_hotwords a:hover {
  color: #ff0033;
}

.wechat {
  position: absolute;
  top: 16px;
  right: 38px;
  width: 100px;
}

.wechat p {
  text-align: center;
  color: #ff0032;
  font-weight: bold;
}

.pullD {
  width: 191px;
}

.pullD .pullDList {
  position: absolute;
  z-index: 666;
  padding-bottom: 2px;
  background: #e3e3e3;
}

.pullD .pullDList li {
  position: relative;
  border-bottom: 1px dotted #cccccc;
  padding: 12px 13px;
}

.pullD .pullDList li img {
  display: inline-block;
  margin: 1px 5px 0 0;
}

.pullD .pullDList li h3 {
  line-height: 24px;
  width: 164px;
}

.pullD .pullDList li a {
  color: #555;
  font-size: 12px;
  margin: 0 1px;
}

.pullD .pullDList li span {
  display: inline-block;
  width: 6px;
  height: 9px;
  position: absolute;
  top: 17px;
  right: 8px;
  background: url(../img/leftjt.png) no-repeat;
}

.pullD .pullDTitle {
  background: #fe0032;
  text-align: center;
  line-height: 33px;
  color: #fff;
}

.yMenuIndex {
  position: relative;
}

.yMenuIndex .yMenulist {
  width: 1009px;
  overflow: hidden;
}

.yMenuIndex .yMenulist li {
  float: left;
  padding: 1px 16px;
  text-align: center;
  line-height: 33px;
  font-weight: bold;
}

.yMenuIndex .yMenulist li a {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

.yMenuIndex .yMenulist li a:hover {
  color: #ec0736;
}

.yMenuIndex .yMenulist li img {
  display: inline-block;
}

.yMenuIndex .yMenulist li:nth-of-type(5) {
  position: absolute;
  right: 34px;
  margin-bottom: 2px;
}

.yMenuIndex .yMenulist li:nth-of-type(4) {
  position: absolute;
  right: 124px;
}

.yMenuIndex .yMenulist li:nth-of-type(4) ul {
  display: none;
  position: absolute;
  z-index: 222;
}

.yMenuIndex .yMenulist li:nth-of-type(4) ul li {
  padding: 1px 16px;
  background: #fff;
  line-height: 30px;
  font-size: 12px;
  color: #000;
}

.yMenuIndex .yMenulist li:nth-of-type(3) {
  position: absolute;
  right: 225px;
}

.yMenuIndex .yMenulist li:nth-of-type(3) ul {
  display: none;
  position: absolute;
  z-index: 222;
}

.yMenuIndex .yMenulist li:nth-of-type(3) ul li {
  padding: 1px 16px;
  background: #fff;
  line-height: 30px;
  font-size: 12px;
  color: #000;
}

.banner {
  width: 100%;
  height: 450px;
}

.banner img {
  height: 100%;
  width: 100%;
}

.warn {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 120px;
}

.warn h1 a {
  display: inline-block;
  width: 1200px;
  line-height: 120px;
  text-align: center;
  color: #fb2425;
}

.hd_zpp {
  margin-bottom: 50px;
}

.dh_zppleft {
  position: relative;
}

.dh_zppleft h2 {
  line-height: 40px;
}

.dh_zppleft .fresh {
  position: absolute;
  right: 50px;
  top: 13px;
}

.dh_zppleft .divhuan {
  position: absolute;
  right: 10px;
  top: 13px;
}

.main .leftSide ul {
  width: 676px;
  border-left: #eee 1px solid;
  border-top: #eee 1px solid;
}

.main .leftSide ul li {
  float: left;
  border-right: #eee 1px solid;
  border-bottom: #eee 1px solid;
  padding: 7px 0 0 18px;
}

.main .leftSide ul li a {
  display: inline-block;
  width: 150px;
  height: 65px;
}

.dh_zppright {
  width: 498px;
  border: #e7e7e7 1px solid;
}

.dh_zppright .con {
  font-size: 16px;
  font-family: "微软雅黑";
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 44px;
  line-height: 44px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.dh_zppright .con .tabs {
  width: 123px;
  cursor: pointer;
  color: #000;
  text-align: center;
}

.dh_zppright .con .on {
  width: 123px;
  color: #ff0f3f;
  text-align: center;
  border-bottom: #ff0f3f 2px solid;
}

.dh_zppright .flower_list .flower_item {
  position: absolute;
}

.dh_zppright .flower_list .flower_item .one {
  width: 230px;
  overflow: hidden;
  margin: 15px 9px 14px 9px;
}

.dh_zppright .flower_list .flower_item .one h2 {
  margin-bottom: 12px;
  height: 174px;
  width: 230px;
  position: relative;
}

.dh_zppright .flower_list .flower_item .one h2 span {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: center;
  font-weight: lighter;
  background: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  letter-spacing: 0.5px;
}

.dh_zppright .flower_list .flower_item .one ul li {
  background: url(../img/sq1.png) no-repeat 0 10px;
  padding-left: 11px;
}

.dh_zppright .flower_list .flower_item .one ul li a {
  color: #333;
}

.dh_zppright .flower_list .flower_item .one ul li a:hover {
  text-decoration: underline;
}

.dh_zppright .flower_list .flower_item .two {
  width: 100%;
  overflow: hidden;
  margin: 15px 9px 14px 9px;
  float: left;
}

.dh_zppright .flower_list .flower_item .two h2 {
  margin-bottom: 12px;
  height: 174px;
}

.dh_zppright .flower_list .flower_item .two ul li {
  background: url(../img/sq1.png) no-repeat 0 10px;
  padding-left: 11px;
}

.dh_zppright .flower_list .flower_item .two ul li a {
  color: #333;
}

.dh_zppright .flower_list .flower_item .two ul li a:hover {
  text-decoration: underline;
}

.dh_zppright .flower_list .flower_item .two ul li span {
  float: right;
  margin-right: 18px;
}

.hd_star {
  margin-bottom: 20px;
}

.hd_star img {
  height: 316px;
}

.hd_star h2 {
  width: 680px;
}

.hd_star .video {
  width: 498px;
}

.newArrival {
  position: relative;
}

.newArrival img {
  width: 230px;
  height: 230px;
}

.newArrival h1 {
  margin-bottom: 10px;
  height: 24px;
  background: url(../img/web_index.png) no-repeat 0 -51px;
}

.newArrival h1 ul {
  position: absolute;
  left: 220px;
  top: -12px;
}

.newArrival h1 ul li {
  float: left;
}

.newArrival h1 ul li a {
  display: inline-block;
  font-weight: 100;
  font-size: 12px;
  height: 22px;
  width: 80px;
  color: #666;
  border-right: 1px solid #ddd;
  text-align: center;
}

.newArrival h1 ul .onb a:hover {
  background: url(../img/tab.png) no-repeat 5px;
  display: inline-block;
  color: #fff;
}

.newArrival .cloth li {
  float: left;
  margin: 0 8px 5px 0;
}

.newArrival .cloth li .price {
  width: 157px;
  height: 70px;
  margin: 0 auto;
}

.newArrival .cloth li .price .newPrice {
  display: inline-block;
  width: 60px;
  height: 26px;
  text-align: center;
  font-size: 14px;
}

.newArrival .cloth li .price .newPrice i {
  font-style: normal;
  font-size: 10px;
}

.newArrival .cloth li .price .oldPrice {
  display: inline-block;
  text-decoration: line-through;
  color: #666;
  font-size: 10px;
}

.newArrival .cloth li .price .buyBtn {
  margin: 0 auto;
  display: block;
  width: 76px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border: 1px solid #333;
}

.floor {
  padding-top: 10px;
}

.floor h1 {
  height: 20px;
  background: url(../img/web_index.png) no-repeat 0 -78px;
  position: relative;
}

.floor h1 .keywords {
  position: absolute;
  right: 0;
  top: -12px;
}

.floor h1 .keywords li {
  float: left;
}

.floor h1 .keywords li a {
  padding: 0 10px;
  font-size: 12px;
  color: #000;
  font-weight: normal;
}


.active{
  color:#E53333;
}
.nav_bar{
    width: 190px;
    float: left;
    margin-right: 10px;
    background: #fafafa;
}
.s_img{
    position: relative;
    width: 190px;
    height: 253px;
}
.s_img .info{
    background: rgba(132,212,189,0.9);           /* f1*/
    width: 170px;
    height: 34px;
    padding: 0 10px;
    line-height: 34px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    font-family: '宋体';
}
.s_cate{
    width: 100%;
    margin: 8px 0px;
    float: left;
    height: auto;
    font-family: '宋体';
    color: #333;
    font-weight: bold;
}
.s_cate a{
  font-size: 12px;
  padding: 8px 14px 4px 0px;
  display: inline-block;
  color:#565656;
}